.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10;
  color: white;
  padding-top: 10px;

  & a {
    text-decoration: none;
  }

  & h2 {
    margin: 10px 0 10px 19px;
    color: white;
  }
}

.image-wrapper {
    display: inline-block;
    img {
        width: 80px;
    }
}

.brand {
  display: inline-block;
  margin: auto !important;
  padding-top: 18px;
}

.nav-link-wrapper {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 700px;
  margin-top: 18px;
  a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
  }
}

.nav-link {
  padding: 10px 25px;

  &.active {
    background-color: #0000005c;
  }

  &:hover {
    background-color: #0000005c;
  }
}
