.full-page {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
}

.overlay-settings {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.scene-0 {
  background-color: #fb6a2b;
}
.scene-1 {
  background-color: #fbac69;
}
.scene-2 {
  background-color: #fee2b3;
}
.scene-3 {
  background-color: #72b1a6;
}
.scene-4 {
  background-color: #028c99;
}
.scene-5 {
  background-color: #016b93;
}
.scene-6 {
  background-color: #032253;
}
